@import "../../../stylesheets/Colors.scss";

.hero-section {
    height: 400vh;
}

.sticky-container {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45vh;
    .separator {
        height: 200px;
        width: 10px;
        background-color: $grey-900;
    }
    h2 {
        font-size: 72px;
        text-transform: uppercase;
    }
    .left, .right {
        width: 35%;
    }
    .left {
        text-align: right;
        margin-right: 2rem;
    }
    .right {
        margin-left: 2rem;
    }
}