@import "./Colors.scss";

h1, h2, h3, p {
  font-family: Avant Garde, sans-serif;
} 

h2 {
  font-size: 30px;
  color: $grey-900;
}

body {
  overflow-x: hidden;
  background-color: $bg;
}

.inner-container {
  margin: auto;
  max-width: 1320px;
  min-height: 300vh;
  width: 100%;
  padding: 2em 0;
}

