@import "./Colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

h1, h2, h3, p {
  font-family: "Share Tech Mono", monospace;
} 

h2 {
  font-size: 30px;
  color: $grey-900;
}

body {
  overflow-x: hidden;
  background-color: $bg;
}

.inner-container {
  margin: auto;
  max-width: 1320px;
  min-height: 300vh;
  width: 100%;
  padding: 2em 0;
}

