$pink-100: #F8CDEF;
$pink-300: #F888DF;
$pink-500: #E51EB9;
$pink-700: #A70684;
$pink-900: #670251;

$grey-100: #E0DFE5;
$grey-300: #938FAA;
$grey-500: #554F7D;
$grey-700: #352F5A;
$grey-900: #171330;

$teal-100: #C5FAFD;
$teal-300: #6EEAF2;
$teal-500: #1DD5E1;
$teal-700: #0BB0BA;
$teal-900: #04858D;

$blue-100: #C8C0FC;
$blue-300: #8574F2;
$blue-500: #3F28D8;
$blue-700: #230FA7;
$blue-900: #0F016D;

$yellow-100: #FFF9CF;
$yellow-300: #FBE869;
$yellow-500: #F9DA07;
$yellow-700: #CDB300;
$yellow-900: #5D5201;

$orange-100: #FEF1D0;
$orange-300: #FBCF66;
$orange-500: #F9B107;
$orange-700: #D19300;
$orange-900: #6A4B00;

$red-100: #F2CBCB;
$red-200: #EEA8A8;
$red-300: #EF7F7F;
$red-400: #EB4747;
$red-500: #E02525;
$red-600: #C51515;
$red-700: #A80A0A;
$red-800: #900D0D;
$red-900: #6D0505;

$bg: #F8F7F7