.skill-card {
    background: rgb(30, 30, 30);
    border-radius: 30px;
    overflow: hidden;
    color: lightgoldenrodyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    position: relative;
    &:hover {
        .card-logo {
            transform: scale(2.2);
            translate: 30px 20px;
        }
    }
    .skill-card-content {
        z-index: 3;
    }
}

.card-logo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 96px;
    width: 109px;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 40px;
    opacity: .3;
    transition: all 0.5s ease;
}