@import "../../stylesheets/Colors.scss";

nav {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background: $bg;
    box-shadow: 0px 5px 10px rgba(248, 205, 239, 0.2);
    .inner-nav {
        margin: auto;
        max-width: 1320px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .logo {
            height: 40px;
            cursor: pointer;
        }
        ul {
            list-style: none;
            display: flex;
            li {
                margin: 0 20px;
                border: 1px solid $grey-900;
                padding: 10px 20px;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: $grey-700;
                    font-weight: 500;
                }
                &:hover {
                    transform: translate(3px, 3px);
                    box-shadow: -3px -3px 0px $red-600;

                }
            }
        }
    }
}

@media (max-width: 1320px) {
    nav {
        .inner-nav {
        margin: 0 20px;
        }
    }
}