@import "../../stylesheets/Colors.scss";

nav {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background: $bg;
    border-bottom: 1px solid $grey-100;
    .inner-nav {
        margin: auto;
        max-width: 1320px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .logo-container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 11;
            height: 100%;
            .logo {
                position: absolute;
                z-index: 12;
                height: 60px;
                cursor: pointer;
                transition: "transform 0.1s ease-out, left 0.1s ease-out, top 0.1s ease-out",
                // transition: transform 1.2s ease-in-out;
                // &:hover {
                //     transform: rotate(360deg);
                // }
            }
        }
        ul {
            list-style: none;
            display: flex;
            z-index: 3;
            li {
                margin: 0 20px;
                border: 1px solid $grey-900;
                padding: 10px 20px;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: $grey-700;
                    font-weight: 500;
                }
                &:hover {
                    transform: translate(3px, 3px);
                    box-shadow: -3px -3px 0px $red-600;

                }
            }
        }
    }
}


@media (max-width: 1320px) {
    nav {
        .inner-nav {
        margin: 0 20px;
        }
    }
}